.resultsLoading__container {
  margin: 32px auto 0 auto;
  max-width: 1280px;
}

.img__loading {
  background-color: #000;
  width: 225px;
  height: 330px;
}

.textLoading,
.textLoading2 {
  background-color: #000;
  height: 15px;
  margin-top: 10px;
}

.textLoading {
  width: 225px;
}

.textLoading2 {
  width: 150px;
}

.resultsLoading__wrapper {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.5rem;
  gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 1.5rem;
}

@media (max-width: 481px) {
  .resultsLoading__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .card__wrapper{
    display: flex;
    margin-left: 10px;
  }
  .textLoading {
    margin-left: 10px;
    width: 200px;
  }
  .textLoading2 {
    margin-left: 10px;
    width: 123px;
  }

}
@media (min-width: 768px) {
  .resultsLoading__wrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .resultsLoading__wrapper {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
